
.header{

    position: sticky;
    top:0;
    display:flex;
    justify-content: space-evenly;
    border-bottom:  0.1px solid lightgray;
    padding:10px 0px;
    z-index: 999;
  }
  
  .header-left{
    display:flex;
  
  }
  
  .header_left > img {
  
    object-fit:contain;
    height:40px;
    margin-right:10px;
  }

  .header_right{
    display:flex;
  }

  .header_search{

    padding:10px;
    display:flex;
    align-items: center;
    border-radius:5px;
    color:gray;
    height:22px;
  }