
.sidebar{

    display: flex;
    top:80px;
    flex:0.2;
    border-radius: 10px;
    flex-direction: column;
    
    

}

.sidebar_avatar{
    margin-bottom:10px;
}

.sidebar_top{

    display: flex;
    flex-direction: column;
    align-items: center;
    border:1px solid lightgray;
    border-bottom: 0;
    
    background-color: white;
    padding-bottom: 10px;
}
 
.sidebar_top >img{
    margin-bottom:-20px;
    width:100%;
    height:60px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    

    
}

.sidebar_stats{
    padding: 10px;
    margin-bottom: 10px;
    border:1px solid lightgray;
    border-bottom-left-radius:10px;
    border-bottom-right-radius:10px;
    border:1px solid lightgray;
    background-color: white;

}



.sidebar_stat{

    margin-top:10px;
    display:flex;
    justify-content: space-between;
   
}

.sidebar_stat >p{

    color:grey;
    font-size: 13px;
    font-weight: 600;
}
.sidebar_statnum{
    padding-left:25px;
    font-weight: bold;
    color:#0a66c2 !important;
}

.sidebar_bottom{

    display:flex;
    flex-direction: column;
    text-align: left;
    padding:10px;
    border :1px solid lightgray;
    border-radius: 10px;
    background-color: white;
    margin-top:10px;

}

.sidebar_bottom > p {
    font-size: 13px;
}

.sidebar_recentItem{

    color:grey;
    font-weight: bold;
    cursor: pointer;
    padding:5px;
}
.sidebar_recentItem:hover{

    cursor: pointer;
    color: black;
}